:root {
  --primarycolor: rgb(4, 111, 113);
  --secondryColor: cadetblue;
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
body {
  background-color: hsl(210, 36%, 96%);
  margin: 0;
  line-height: 1.5;
}
.container {
  /* to make padding works even in mobile size screens */
  padding-right: 15px;
  padding-left: 15px;
  /* to set all elements in the center verticlly */
  margin-right: auto;
  margin-left: auto;
  /* set the width for the container */
  width: 600px;
}
.container2 {
  /* to make padding works even in mobile size screens */
  padding-right: 15px;
  padding-left: 15px;

  /* to set all elements in the center verticlly */
  margin-right: auto;
  margin-left: auto;
  /* set the width for the container */
  width: 450px;
}

.box-reviews {
  width: 540px;
  height: 420px;
  background-color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  position: relative;
  text-align: center;
  margin-left: 50%;
  margin-top: 40vh;
  margin-bottom: 0;
  transform: translate(-50%, -50%);
}

.title-for-page {
  color: var(--primarycolor);
  text-align: center;
  margin: 30px;
  margin-bottom: 5px;
}

.line {
  width: 60px;
  height: 3px;
  background-color: var(--secondryColor);
  margin-left: 47%;
}

.circle {
  width: 120px;
  height: 120px;
  border-radius: 168484px;
  background-color: var(--secondryColor);
  position: absolute;
  top: 20px;
  left: 38%;
  z-index: 1;
}

.photo {
  width: 120px;
  height: 120px;
  border-radius: 168484px;
  /* background-color: var(--primarycolor); */
  position: absolute;
  top: 20px;
  left: 37%;
  z-index: 2;
}

.name {
  color: var(--primarycolor);
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

.job-title {
  color: var(--secondryColor);
  font-weight: lighter;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
}

.paragraph {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  color: gray;
  width: 400px;
}

.left-arrow,
.right-arrow {
  color: #49a6e972;
  border: none;
  background: none;
  position: absolute;
  /* height: 80px; */
  font-size: 20px;
  top: 82%;
  transform: translate(-50%, -50%);
}

.left-arrow {
  left: 44%;
}

.right-arrow {
  left: 54%;
}

.left-arrow:hover,
.right-arrow:hover {
  color: var(--secondryColor);
  cursor: pointer;
}

.surprise {
  background-color: white;
  width: 90px;
  height: 28px;
  position: absolute;
  top: 91%;
  left: 50%;
  border-color: #49a6e9;
  transform: translate(-50%, -50%);
  color: #49a6e9;
}

.surprise:hover {
  cursor: pointer;
  background-color: #49a6e9;
  color: white;
  border-color: black;
}

/* sidebar design */
.sidebar {
  position: absolute;
  height: 100vh;
  width: 350px;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  background-color: white;
  transition: 600ms;
  transform: translate(-100%);
  z-index: 1;
}
.sidebar-container {
  position: relative;
}
.sidebar-burger-menu {
  font-size: 24px;
  border-radius: 0;
  right: 60px;
  top: 40px;
  color: cadetblue;
}
.left-arrow,
.right-arrow,
.surprise,
.close-btn,
.sidebar-burger-menu {
  background-color: transparent;
  border: none;
  padding: 0;
  position: absolute;
}

.sidebar-burger-menu:hover {
  color: rgb(16, 243, 255);
  cursor: pointer;
}

.home-sidebar,
.project-sidebar,
.contact-sidebar,
.about-sidebar {
  position: absolute;
  top: 150px;
  left: 0px;
  height: 50px;
  width: 350px;
  list-style: none;
}
.about,
.home,
.contact,
.project {
  font-size: 22px;
  color: cadetblue;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 20px;
  text-decoration: none;
}
.project-sidebar {
  top: 210px;
}
.about-sidebar {
  top: 270px;
}
.contact-sidebar {
  top: 330px;
}

.about-sidebar:hover {
  .about {
    transition: 800ms;
    color: white;
    left: 80px;
    font-weight: bold;
    cursor: pointer;
  }
  background-color: rgb(95, 158, 160);
}
.home-sidebar:hover {
  .home {
    transition: 800ms;
    color: white;
    left: 80px;
    font-weight: bold;
    cursor: pointer;
  }
  background-color: rgb(95, 158, 160);
}
.contact-sidebar:hover {
  .contact {
    transition: 800ms;
    color: white;
    left: 80px;
    font-weight: bold;
    cursor: pointer;
  }
  background-color: rgb(95, 158, 160);
}
.project-sidebar:hover {
  .project {
    transition: 800ms;
    color: white;
    left: 80px;
    font-weight: bold;
    cursor: pointer;
  }
  background-color: rgb(95, 158, 160);
}

.close-btn:hover {
  transform: rotate(360deg);
  transition: 1000ms;
  cursor: pointer;
}

.logo {
  position: absolute;
  width: 130px;
  height: 40px;
  top: 20px;
  left: 15px;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 15px;
  color: rgb(206, 14, 14);
  font-size: 22px;
  margin: 0;
  padding: 0;
}

.show-sidebar {
  transform: translate(0);
}

/* ------------------------------------------------------------------------------------ */
/* second page of the website */
/* QA section */

@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
.container {
  /* to make padding works even in mobile size screens */
  padding-right: 15px;
  padding-left: 15px;
  /* to set all elements in the center verticlly */
  margin-right: auto;
  margin-left: auto;
  /* set the width for the container */
  width: 450px;
}

.q-a {
  padding: 15px;
  padding-top: 2px;
  background-color: white;
  position: relative;
  padding-bottom: 15px;
  border-radius: 5%;
  margin-top: 40px;
}
.ans-text {
  margin: 0;
  padding: 0;
  padding-top: 8px;
  color: rgb(111, 111, 111);
  display: none;
}
.title-question {
  margin: 0;
  padding: 0;
  color: rgb(63, 63, 63);
}

.ans-text::after {
  width: 420px;
  height: 0.5px;
  background-color: gray;
  position: absolute;
  right: 15px;
  top: 57px;
  content: "";
}

.plus-icon,
.minus-icon {
  position: absolute;
  right: 15px;
  color: cadetblue;
  font-size: 18px;
  cursor: pointer;
  display: inline;
}

.minus-icon {
  z-index: -1;
}

.show-question {
  display: block;
}

button {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
}

/* start design for third page home-page */

.background-home {
  background-image: url("food.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  height: 100vh;
  z-index: -2;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
}

.home-qoute {
  color: white;
  font-weight: bolder;
  position: absolute;
  font-size: 55px;
  width: max-content;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  right: 50%;
  top: 35%;
  transform: translate(50%, -50%);
  margin: 0;
  padding: 0;
}

.explore-now {
  align-items: center;
  background-image: linear-gradient(
    144deg,
    #b470dc,
    var(--primarycolor),
    var(--secondryColor)
  );
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  /* box-sizing: border-box; */
  color: #ffffff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
  padding: 19px 24px;
  cursor: pointer;
  position: absolute;
  right: 50%;
  top: 55%;
  transform: translate(50%, -50%);
  transition: 500ms;
}
.explore-now:hover,.all:hover,
.dinner:hover,
.drinks:hover,
.breakfast:hover <div class="contact-me">
      <div class="feel-free">
        <p>Feel free to drop us a line at:</p>
      </div>

      <div class="mail">
        <p>
          <a class="link" href="abdlrhman.shihab@gmail.com"
            >abdlrhman.shihab@gmail.com</a
          >
        </p>
      </div>
    </div>  {
  font-size: 28px;
}

/* Style for fourth page */

.food1,
.food2,
.food3,
.food4,
.food5,
.food6,
.food7,
.food8,
.food9,
.overlay-food {
  width: 380px;
  height: 250px;
  border-radius: 15px;
}

.food1,
.food2,
.food3,
.food4,
.food5,
.food6,
.food7,
.food8,
.food9 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

/* food photos */
.food1 {
  background-image: url("dinner/dinner1.jpg");
}
.food2 {
  background-image: url("breakfast/breakfast1.jpg");
}
.food3 {
  background-image: url("drinks/drinks1.jpg");
}
.food4 {
  background-image: url("breakfast/breakfast2.jpg");
}
.food5 {
  background-image: url("drinks/drinks2.jpg");
}
.food6 {
  background-image: url("dinner/dinner2.jpg");
}
.food7 {
  background-image: url("dinner/dinner3.jpg");
}
.food8 {
  background-image: url("drinks/drinks3.jpg");
}
.food9 {
  background-image: url("breakfast/breakfast3.jpg");
}
/* food photos */
.overlay-food {
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;
  /* z-index: -1; */
}

.food-title,
.food-des {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  left: 25px;
  transition-duration: 1000ms;
}
.food-price {
  color: white;
  font-size: 24px;
  font-weight: bolder;
}
.food-des {
  display: none;
  position: absolute;
  left: 25px;
  top: 225px;
  font-size: 17px;
  width: 350px;
}

.food-title {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translate(-50%);
  font-weight: bolder;
}
.overlay-food:hover {
  .food-title {
    top: 40px;
  }
  .food-des {
    top: 100px;
    display: block;
  }
}
.content-food {
  position: relative;
  width: 380px;
  height: 250px;
}

.food-flex,
.food-flex1 {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.food-flex1 {
  margin-top: 50px;
}
.container-flex-food {
  /* to make padding works even in mobile size screens */
  padding-right: 15px;
  padding-left: 15px;
  /* to set all elements in the center verticlly */
  margin-right: auto;
  margin-left: auto;
  /* set the width for the container */
  width: 1200px;
}

.all,
.dinner,
.drinks,
.breakfast {
  background-image: linear-gradient(
    144deg,
    #b470dc,
    var(--primarycolor),
    var(--secondryColor)
  );
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
  padding: 19px 24px;
  cursor: pointer;
  transition: 500ms;
  /* position: absolute; */
}

.contact-section {
  margin-top: 50px;
  background-color: rgb(220, 220, 220);
  text-align: center;
  /* width: 100vh; */
}

.feel-free {
  font-size: 35px;
  font-weight: bolder;
  font-family: var(--mainFont);
  color: rgb(36, 62, 63);
  letter-spacing: -2px;
}

.link {
  font-size: 30px;
  font-weight: 800;
  color: cadetblue;
  text-decoration: none;
}

.footer {
  height: 80px;
  background-color: #2c4755;
  text-align: center;
}
.footer p {
  color: white;
  font-size: 18px;
  font-family: var(--mainFont);
  padding-top: 25px;
}
.contact-me{
  margin-top: 80px;
  margin-bottom: 80px;
  text-align:center ;
}